<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--<bean id="alien" class="com.hajimalung.Alien" scope="prototype">    -->
    <bean id="alien" class="com.hajimalung.Alien">
        <constructor-arg value="Hajimalung" />
        <property name="age" value="30" />
        <property name="lapObj" ref="laptop" />
    </bean>

    <bean id="laptop" class="com.hajimalung.Laptop">
<!--        in below sequesce works-->
<!--        <constructor-arg value="sony" />-->
<!--        <constructor-arg value="vaio" />-->

            <constructor-arg name="brand" value="sony" />
            <constructor-arg name="model1" value="vaio" />
    </bean>
</beans>